body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,input
{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset,input{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font:12px/1.5 "Microsoft Yahei";color: #222;}
input,a{outline:none;}
#footer{
    padding-top: 15px;
    width: 100%;
    min-width: 990px;
    text-align: center;
    .ft-wp-list{
        width: 990px;
        margin: 0 auto;
        .ft-list{
            width: 100%;
            height: 25px;
            line-height: 25px;
            a{
                color:#666;
                &:hover{
                    color: #f66;
                }
                i{
                    display: inline-block;
                    position: absolute;
                    top: 0;left: 0;
                    width: 20px;
                    height: 20px;
                    background: url(../imgs/gwab-icon.png) no-repeat center;
                }
            }
            .ft-icon1{
                position: relative;
                padding-left: 25px;
            }
            span{
                padding:0 8px;
                color:#888;
            }
        }
        .ft-list-bm{
            color: #999;
            a{
                color: #999;
            }
        }
        .ft-bottom{
            width: 990px;
            margin: 0 auto;
            height: 25px;
            text-align: center;
            img{
                display: inline-block;
                margin-right: 8px;
            }
        }
    }
}

.listmore{
    width: 1190px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    div{
       
        width: 230px;
       
        a{
           display: block;
           text-align: center;
           img{
               
               width: 220px;
               height: 220px;
           }
           p{
               height: 20px;
               line-height: 20px;
               overflow:hidden;
               &:hover{
                   color: #f60;
               }
               &:nth-of-type(2){
                   color: #f60;
               }
           }
        }
    }
}
.list_xx{
    width: 1190px;
    margin: 0 auto;
    position: relative;
    min-height: 420px;
    background: #fff;
    
    .xx_left{
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 520px;
        .min_pic{
            position: absolute;
            left: 0;
            top: 0;
            width: 300px;
            height: 300px;
            >img{
                display: block;
                 width: 300px;
                 height: 300px;
            }
             .min_kuai{
                 position: absolute;
                 z-index: 77;
                width: 150px;
                height: 150px;
                background: #f60;
                opacity: .2;
                display: none;
            }
        }
        .max_pic{
            position: absolute;
            z-index: 99;
            top: 0;
            left: 300px;
            width: 300px;
            height: 300px;
            overflow: hidden;
            display: none;
            >img{
                display: block;
                position: absolute;
                 width: 600px;
                 height: 600px;
            }
           
        }
        .bottom_pic{
            position: absolute;
            top: 320px;
            width: 300px;
            height: 90px;
            overflow: hidden;
            left: 0;
            >img{
                display: inline-block;
                width: 88px;
                margin-left: 10px;
                height: 88px;
                border: 1px solid #fb0;
            }
        }
    }
    .xx_right{
        min-height: 390px;
        width: 870px;
        position: absolute;
        top: 0;
        left: 300px;
        padding-top: 30px;
        padding-left: 20px;
        z-index: 10;
        .pname{
            height: 30px;
            line-height: 30px;
            font-size: 22px;
            font-weight: bold;
        }
        .pprice{
            height: 32px;
            line-height: 32px;
            font-size: 24px;
            font-weight: bold;
            color: #f60;
        }
        .xx_shop{
            position: relative;
            span{
                font-size: 20px;
                font-weight: 700;
                position: absolute;
                top: 0;left: 0;
            }
            
//          .num_show{
//              width: 66px;
//              height: 18px;
//              line-height: 18px;
//              text-align: center;
//              float: left;
//              
//          }
            >a{
                position: absolute;
                background: #f60;
                color: #fff;
                display: block;
                width: 120px;
                height: 30px;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                top:40px;
                
            }
        }
    }
}
//shopcattr 购物车页面
.shopcart{
    width: 990px;
    margin: 30px auto;
    clear: both;
    height: auto;
    background: #fff;
    table{
       tbody{
            tr{
                height:32px;
                color: #666;
                border: 1px solid #ddd;
                
                th{
                   
                    text-align: left;
                    height: 32px;
                    line-height: 32px;
                }
                th:nth-of-type(1){
                     width: 96px;
                }
                th:nth-of-type(2){
                     width: 299px;
                     
                }
                th:nth-of-type(3){
                     width: 135px;
                }
                th:nth-of-type(4){
                     width: 120px;
                }
                 th:nth-of-type(5){
                     width: 95px;
                }
                th:nth-of-type(6),td:nth-of-type(6){
                     width: 115px;
                     padding-left: 30px;
                }
                th:nth-of-type(7){
                     width: 70px;
                }
                td{
                    height: 90px;
                    padding: 10px;
                    position: relative;
                    img{
                        position: absolute;
                        top: 0;left: 0;
                        width: 90px;
                        height: 90px;
                    }
                    p{
                        position: absolute;
                        top: 0;
                        left: 96px;
                        font-size: 16px;
                        line-height: 20px;
                    }
                    >input{
                        margin-left: 20px;
                    }
                    .num_hid{
                        position: absolute;
                        top: 36px;
                        left:0;
                        width: 66px;
                        height: 18px;
                        overflow: hidden;
                        >a{
                            float: left;
                            width: 18px;
                            height: 18px;
                            background: url(../imgs/sidebar.png) no-repeat;
                        }
                        .downnum{
                            background-position: -20px -190px;
                        }
                        .addnum{
                            background-position: 0 -190px;
                        }
                        >input{
                            float: left;
                            width: 30px;
                            height: 16px;
                            border: 1px solid #ddd;
                            border-left: 0;
                            border-right: 0;
                            line-height: 16px;
                            text-align: center;
                            
                        }
                    }
                }
            }
        } 
    }
    
}
