@mixin conwidth{
    width: 1190px;
    margin: 0 auto;
}
body{
    background: #f2f2f2;
}
.top_wrap{
    width: 100%;
    background: #f5f5f5;
    border-bottom: 1px solid #eee;
    .top{
       @include conwidth; 
       height: 35px;
       line-height: 35px;
       .top_left,.top_right{
           float: left;
           >div{
               float: left;
               position: relative;
               >a{
                  float: left;
                  overflow: hidden;
                  height: 35px;
                  padding: 0 10px;
                  line-height: 35px;
                  position: relative;
                  z-index: 999;
                  em{
                      display: inline-block;
                      font-size: 10px;
                      width: 10px;
                      color: #bbb;
                      margin-left: 3px;
                      vertical-align: middle;
                      transform-origin: 50% 50%;
                      transition: all .4s;
                  }
                  &:hover{
                      color: #f60;
                      background: #fff;
                      border: 1px solid #ddd;
                      border-bottom: 0;
                  }
                  &:hover em{
                      transform: rotate(-180deg);
                  }
               }
               
           }
       }
       .top_right{
           float: right;
       }
    }
}
//城市选择
.top_city{
    line-height: 35px;
    i{
        float: left;
        width: 12px;
        height: 15px;
        margin: 10px 6px 0 6px;
        background: url(../imgs/index.png) no-repeat -387px -183px;
    }
    span{
        float: left;
    }
    b{
        float: left;
        position: relative;
        margin-right: 5px;
        display: block;
        top: 15px;
        left: 5px;
        width: 0;
        height: 0;
        border: {
            width: 6px 4px;
            style:solid dashed dashed;
            color: #bbb transparent transparent; 
        }
    }
}
//头部的下拉菜单
@mixin listposition{
     position: absolute;
     top: 35px;
     border: 1px solid #ddd;
     z-index: 888;
     background: #fff;
}
#top_web_list{
   @include listposition;
    width: 988px;
  
    padding: 20px 0;
    
    left: 0;
    display: none;
    li{
        float: left;
        width: 176px;
        border-right: 1px solid #eee;
        padding-left: 20px;
        h3{
            height: 25px;
            width: 100%;
            font-size: 14px;
            line-height: 17px;
            font-weight: 700;
        }
        a{
            float: left;
            height: 25px;
            width: 78px;
            line-height: 25px;
            margin: 0;padding: 0;
            &:hover{
             color: #f60;
             }
        }
       
    }
}
#top_hezuo,#top_kehu,#top_my,#top_my_yigou{
    width: 162px;
    padding: 5px 0;
    @include listposition;
    display: none;
   a{
        float: left;
        height: 25px;
        width: 78px;
        text-align: center;
        line-height: 25px;
        margin: 0;padding: 0;
        &:hover{
            color: #f60;
        }
     } 
}
#top_kehu{right: 0;}
#top_my{width: 85px;}
#top_my_yigou{
    .tmy_shizi{
        width: 142px;
        height: 56px;
        margin: 0 auto;
        a{
            float: left;
            width: 54px;
            height: 54px;
            img{
                display: block;
                width: 54px;
                height: 54px;
            }
        }
        .shizi_right{
            float: left;
            width: 86px;
            height: 56px;
            a{
                height: 28px;
                display: block;
                line-height: 28px;
                width: 64px;
                padding: 0;
                margin-left: 20px;
                &:last-of-type{
                    height: 22px;
                    color: #fff;
                    line-height: 22px;
                    background: #f60;
                    border-radius:4px;
                }
            }
        }
    }
}
#top_phone{
    width: 540px;
    right: 0;
    height: 220px;
    overflow: hidden;
    @include listposition;
    background: #fff;
    display: none;
    >li{
        float: left;
        width: 180px;
        margin: 17px 0 0;
        >img{
            display: block;
            width: 147px;
            height: 147px;
            margin: 0 auto 10px;
            
        }
        >p{
          width: 180px;
          height: 14px;
          line-height: 14px;
          text-align: center;
          color: #666;  
        }
    }
}
#top_shop{
    width: 280px;
    height: 400px;
    background: #fff;
    @include listposition;
    left: 0;
    display: none;
}
//头部搜索logo部分
@mixin soso{
    position: absolute;
    z-index: 666;
}
.sousuo_wrap{
    width: 100%;
    min-width: 990px;
    background: #fff;
    .sousuo{
        @include conwidth;
        height: 110px;
        position: relative;
        z-index: 1;
        .index_logo{
            @include soso;
            top: 0;
            left: 0;
            >a{
                >img{
                    width: 190px;
                    height: 90px;
                }
            }
        }
        .sousuo_con{
            @include soso;
            height: 100px;
            width: 600px;
            left: 300px;
            top: 0;
            .sousuo_nei{
                width: 540px;
                margin-top: 30px;
                float: right;
                position: relative;
                >form{
                    >div{
                        width: 390px;
                        float: left;
                        background: #FFFFFF;
                        padding-right:28px;
                        border: 2px solid #fa0;
                        border-right: none;
                        position: relative;
                        overflow: hidden;
                        i{
                            float: left;
                            width: 25px;
                            height: 36px;
                            line-height: 36px;
                            text-align: right;
                            font-size: 14px;
                            color: #ccc;
                            
                        }
                        input{
                            float: left;
                            width: 355px;
                            margin-top: 0;
                            padding:9px 10px 9px 0;
                            height: 18px;
                            line-height: 18px;
                            border: none;
                            font-size: 12px;
                        }
                    }
                }
                .hotso{
                    float: left;
                    width: 100%;
                    height: 18px;
                    margin-top: 5px;
                    overflow: hidden;
                    a{
                        float: left;
                        white-space: nowrap;
                        font-size: 12px;
                        margin: 3px 0 3px -11px;
                        padding: 0 20px 0 10px;
                        border-left: 1px solid #ddd;
                        height: 12px;
                        line-height: 12px;
                        &:hover{
                            color: #FF6600;
                        }
                    }
                }
                
            }
        }
        .sousuo_right{
                    position: absolute;
                    width: 88px;
                    height: 88px;
                    right: 0;top: 10px;background: #fff;
                    border: 1px solid #eee;
                    img{
                        display: block;
                        width: 80px;
                        height: 80px;margin: 4px;
                    }
                }
    }
}
#sobtn{
    font-size: 18px;
    width: 120px;
    background: #FF9900;
    height: 40px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 2px;
    text-indent: 2px;
    color: #fff;
    border: 0;
    float: left;
}
//导航
.nav_wrap{
    width: 100%;
    background: #fff;
    position: relative;
    height: 38px;
    .nav{
        @include conwidth;
        position: relative;
        z-index: 666;
        .index_all{
            position: absolute;
            width: 190px;
            top: 0;
            left: 0;
            >a{
                position: absolute;
                display: block;
                width: 163px;
                padding-left: 27px;
                height: 38px;
                line-height: 38px;
                top: 0;left: 0;
                background: #f90;
                font-size: 13px;
                font-weight: bold;
                i{
                    position: absolute;
                    display: block;
                    width: 12px;
                    height: 12px;
                    top: 14px;
                    left: 9px;
                    background: url(../imgs/index.png) no-repeat 0 0;
                }
                span{
                    color: #fff;
                }
                &:hover{
                    background: #f70;
                }
            }
            .list_box{
                position: absolute;
                top: 38px;
                left: 0;
                width: 190px;
                height: 440px;
                .box_cover{
                    position: absolute;
                    width: 190px;
                    height: 448px;
                    top: 0;
                    left: 0;
                    background: #252221;
                    }
                    .list_list{
                        position: absolute;
                        left: 0;
                        top: 1px;
                        height: 448px;
                        width: 190px;
                        z-index: 777;
                        overflow: hidden;
                        li{
                            height:32px;
                            line-height: 32px;
                            position: relative;
                            width: 175px;
                            padding: 0 10px 0;
                            >i{
                                display: inline-block;
                                width: 12px;
                                height: 31px;
                                color: #fea900;
                                margin-right: 3px;
                                vertical-align:middle;
                            }
                            >a{
                                display: inline-block;
                                vertical-align: middle;
                                color: #fff;
                                
                            }
                            >em{
                                display: inline-block;
                                vertical-align: middle;
                                color: #777;
                                padding: 0 2px;
                            }
                            &:hover{
                                background: #fff;
                                a{
                                    color: #222;
                                    &:hover{
                                    color: #f60;
                                    }
                                }
                            }
                        }
                    }
                .list_detal{
                    position: absolute;
                    left: 190px;
                    min-height: 448px;
                    overflow: hidden;
                    background: #fff;
                    z-index: 777;
                }
            }
        }
    }
}
//家用电器模块
.product_wrap{
    $listcolor:#5f6cb7;
    width: 1190px;
    height: 455px;
    background: #fff;
    border-top: 2px solid #fff;
    border-color: $listcolor;
    margin: 20px auto 0;
    .title{
        background: #eff0f8;
        width: 100%;
        height: 45px;
        .title-name{
            background:$listcolor;
            float: left;
            width: 190px;
            height: 45px;
            .name{
                margin-left: 15px;
                font-size:18px;
                font-weight: bold;
                line-height: 40px;
                float: left;
                color: #fff;
                padding: 0;
            }
            .code-wrapper{
                position: relative;
                float: left;
                width: 24px;
                height: 24px;
                margin: 10px 0 0 10px;
                background: url(../imgs/index.png) no-repeat -232px -209px;
                .code{
                    display: none;
                    position: absolute;
                    top: 35px;
                    left: -49px;
                    width: 120px;
                    height: 130px;
                    background: #fff;
                    border: 1px solid #e2e2e2;
                    border-radius: 8px;
                    z-index: 55;
                    span{
                        position: absolute;
                        width: 10px;
                        height: 8px;
                        top: -7px;
                        left: 56px;
                        background: url(../imgs/index.png) no-repeat -267px -210px;
                    }
                    img{
                        display: block;
                        width: 100px;
                        height: 100px;
                        margin: 6px auto 0;
                    }
                   p{
                       text-align: center;
                   }
                }
                 &:hover .code{
                        display: block;
                    }
            }
        }
       .keyword{
           float: right;
           margin: 14px 18px 0 0;
           a{
               float: right;
               margin-left: 20px;
               color: #666;
               &:hover{
                   color: #f60;
               }
           }
       } 
    }
    .content{
        width: 100%;
        height: 360px;
        .left-img{
            float: left;
            position: relative;
            z-index: 1;
            width: 190px;
            height: 360px;
            cursor: pointer;
            img{
                display: block;
                width: 190px;
                height: 360px;
            }
            .cover{
                position: absolute;
                width: 190px;
                height: 90px;
                left: 0;bottom: 0;
                opacity: .6;
                background: $listcolor;
            }
            @mixin imgpp{
                position: absolute;
                left: 14px;
                width: 160px;
                color: #fff;
                font-weight: bold;
                top: 285px;
                overflow: hidden;
            }
            .img-name{
                @include imgpp;
                height: 30px;
                font-size: 20px;
                line-height:30px;
            }
            .img-desc{
                @include imgpp;
                top: 315px;
                height: 22px;
               
            }
        }
        .img-list{
            position: relative;
            float: left;
            width: 400px;
            height: 360px;
            overflow: hidden;
            li{
                position: relative;
                float: left;
                width: 199px;
                height: 179px;
                border-width: 0 0 1px 1px;
                border-color: #eee;
                border-style: solid;
                a{
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    .img-name{
                        width: 180px;
                        height: 24px;
                        overflow: hidden;
                        text-align: center;
                        margin: 14px auto 0;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    .img-desc{
                        width: 180px;
                        height: 20px;
                        overflow: hidden;
                        text-align: center;
                        margin:0 auto;
                        font-size: 12px;
                        line-height: 20px;
                    }
                    img{
                        display: block;
                        width: 120px;
                        height: 120px;
                        margin: 0 auto;
                        transition: all .5s;
                    }
                    &:hover img{
                        transform:scale(1.05);
                    }
                }
            }
        }
        .middle-img{
            position: relative;
            float: left;
            width: 200px;
            height: 360px;
            cursor: pointer;
            .img-name{
                color:$listcolor;
                position: absolute;
                top: 15px;
                left: 21px;
                font-size: 20px;
                line-height: 26px;
                font-weight: bold;
            }
            .img-desc{
                color:$listcolor;
                position: absolute;
                top: 41px;
                left: 21px;
                font-size: 12px;
                line-height: 18px;
            }
            img{
                display: block;
                width: 200px;
                height: 360px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    .brand-logo{
        width: 100%;
        height: 40px;
        overflow: hidden;
        ul{
            li{
                float: left;
                width: 80px;
                height: 30px;
                margin: 9px 9px 0 10px;
                a{
                    img{
                        display: block;
                        width: 80px;
                        height: 30px;
                        border: 0;
                    }
                }
            }
        }
    }
}
